/* Promt font import */
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
/* Acme font */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Prompt&display=swap');


body{
    min-height:100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    /* background-color: #010409; */
    /* background-color: rgba(2, 13, 32,1); */
    /* linear-gradient( rgba(2, 13, 32,0.8), rgba(2, 13, 32,0.8) ), */
    background: url('https://images.pexels.com/photos/315191/pexels-photo-315191.jpeg?auto=compress&cs=tinysrgb&w=1600');
    background-size: cover;
    
}

.roadmap-overlay{
    display: flex;
    flex-direction: column;
    min-height:100vh;
    max-width: 100vw;
    background: linear-gradient( rgba(1, 10, 44,0.79), rgba(1, 10, 44,0.79) );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
}

/* h1 {
    font-size: 100%;
} */

p{
    padding-top: 6vh;
}

#main a{
    text-decoration: none;
}

ul li {
    color: white;
}

.buttons {
    width: 70%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* padding: 5px; */
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    /* font-family: 'Prompt', sans-serif; */
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 200%;
    /* background-color: #1fdef2; */
    background-image: linear-gradient(180deg, rgb(0, 204, 255), white);
    border-radius: 25px;
    color: black;
    padding: 1% 2%;
    text-align: center;
    /* flex: 1; */
    margin: 10px;
    border: 2px solid rgb(31, 222, 242, 1);
    transition: all 0.75s;
    
}

.btn:hover {
    /* background-color: black; Green */
    background-image: linear-gradient(180deg, rgb(2, 13, 32),rgb(2, 13, 32));
    color: white;
    border: 2px solid #1fdef2;
  }
#header{
    margin: 1% 0;
    padding: 0%;
    text-align: center;
    /* display:flex; */
    /* justify-content: center; */
    color: white;
    font-family: "Lucida Console", Monaco, monospace;

}
#header h2{
    font-size: 300%;
    margin-top: 100px;
}

/*media queries

@media screen and (max-width: px){

} */

.float{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
	position:fixed;
    padding: 5px;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#1fdef2;
	color:#FFF;
	border-radius:50px;
	/* box-shadow: 2px 2px 3px #999; */
}

/* .discord{
    
} */