@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  z-index: 2;
  padding:0;
  margin:0;
}
.navbar{
  font-family: 'Roboto', sans-serif;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  color: white;
  backdrop-filter: blur(20px);
  color:white;
}
.navbar li{
  list-style: none;
  margin: 20px 20px;
  font-size:30px;
}
.navbar a{
  color:white;
  text-decoration:none;
}
.navbar a:hover{
  color:#02d9df;
  text-decoration:none;
}
.navbar-right{
  display:flex;
  
}