@import url('https://fonts.googleapis.com/css2?family=Acme&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');
*{
  padding:0;
  margin:0;
}
body{
    font-family: 'Silkscreen', cursive;
    background: linear-gradient(rgba(14, 19, 8, 0.95),rgb(0,0,0,0.95)), url('https://images.pexels.com/photos/1089455/pexels-photo-1089455.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
}
.pagewrapper{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:0 auto;
  height:100vh;
  width: 100vw;
}
.pagewrapper h1{
  color:white;
}
#main-heading{
  letter-spacing:10px;
  font-family: 'Londrina Solid', cursive;
  font-size:30px;
  margin:50px 0 20px 0;
}
.email-heading{
  color:white;
  letter-spacing:10px;
  font-family: 'Londrina Solid', cursive;
  font-size:20px;
  margin:5px;  
}
.neon-box{
    margin:0 10px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(172, 255, 47, 0.101),rgba(255, 255, 255, 0.078));
    width: 500%;
    border: solid 2px greenyellow;
    border-radius: 5px; 
}
.content-wrapper{
  display:flex;
  flex-direction:row;
  width:100%;
  margin:20px;
/*    flex-direction:column;
  align-items:center;
  justfy-content:center; */
}
.btn{
  margin:10px;
  font-size:25px;
  padding:6px;
  border-radius:6px;
}
#logout-btn{
  background:red;
  color:white;
}
#change-pwd{
  justify-content:flex-end; 
}
#buttons{
  display:flex;
  width:100%;
}
.btn-wrapper{
  width:100%;
  display:flex;
/*   display:flex;
  justify-content:space-around; */
}

.course {
  color: white;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}