body{
    /* background-color: rgb(2, 13, 32); */
    background:linear-gradient( rgba(2, 13, 32,0.92), rgba(2, 13, 32,0.92) ), url('https://images.pexels.com/photos/315191/pexels-photo-315191.jpeg?auto=compress&cs=tinysrgb&w=1600');
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
}
li{
    list-style: none;
}
.pagecontent{
    margin: 100px auto; 
    width: 80%;
}

h1 {
    text-align: center;
    font-size: 300%;
    margin-bottom: 20px;
}

.page-description {
    font-size: 20px;
    line-height: 1.5;
    margin: 40px 0;
}

.course-top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
}

.subtopics {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.subtopic {
    margin: 0 1vw;
    padding: 20px;
    width: 100px;
    border: solid #02d9df 3px;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.subtopic:hover {
    background-color: #02d9df;
    box-shadow: 0px 0px 10px 0px #02d9df;
    color: black;
    transition: 0.2s;
}

.subtopic.active {
    background-color: #02d9df;
    box-shadow: 0px 0px 10px 0px #02d9df;
    color: black;
}

.topics {
    /* margin: 0; */
    padding: 0;
}

.topic {
    /* width: 90%; */
    border: solid 4px rgb(166, 77, 255);
    box-shadow: 0px 0px 10px 2px  rgb(166, 77, 255);
    border-radius:25px;
    margin: 2% auto;
    background-color: rgb(2, 13, 32);
}

.topic-name {
    /* margin: 1% 2% 1% 2%; */
    font-size: 50px;
    color: #02d9df;
    list-style: none;
    margin-left: 20px;
    margin-top: 20px;
}

.topic-description {
    font-size: 20px;
    color: white;
    margin-left: 20px;
}

.links {
    margin: 0;
    padding: 0;
}

.links li {
    padding: 5px;
    border-radius:10px;
    list-style: none;
    margin: 2% 5%;
    background-color:rgb(30, 30, 44, 0.5);
    /* transition: 0.5s; */
}

.links li:hover {
    animation: colorchange 0.5s infinite alternate;
    background-color: rgb(30, 30, 44, 1);
}

.link {
    display: flex;  
    align-items: center;
    /* justify-content: space-evenly; */
}

.link .url {
    /* margin-right: 5em; */
    margin-top: 2vw;
    font-size: 2vw;
    text-align: center;
    width: 80%;
}

.fa-bookmark {
    font-size: 30px;
    color: white; 
    /* background-color: #02d9df; */
    /* stroke: white; */
}

.fa-bookmark:hover {
    color: gold;
}

.bookmarked {
    color: gold;
}

.url a {
    /* color: pink; */
    color: #59A3FF;
    text-decoration: none;
}

.rating-flex {
    display: none;
}

.rate-number {
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.rate-number:hover {
    background-color: white;
    color: black;
}

.frame {
    display: block;
    margin: 20px auto 20px auto;
    width: 55vw;
    height: 30vw;
}


@keyframes colorchange{
    0%{background-color: rgb(30, 30, 44, 0.5);}
    100%{background-color: rgb(30, 30, 44, 1);}
}



@media (max-width: 500px) {
    .subtopics{
        flex-direction: column;
        align-items: center;
    }
}