<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'styles/navbar.css' %}" />
        <link rel="stylesheet" href="{% static 'styles/contactus.css' %}" />
        <title>Contact Us</title>
    </head>
    <body>
        {% include 'base/navbar.html' %}

        <div class="pagewrapper">
            <div class="content-container">
                <div class="left-box">
                    <div class="lbox-margin">
                        <h1>CONTACT CREATORS</h1>
                    </div>
                    <div>
                        <p class="message">We will try to get back to you as soon as possible</p>   
                    </div>
                    <!-- <br> -->
                    <div class="creator-box">
                        <!-- Harsiddak socials -->
                        <div class="creator">
                            <div>
                                <a id="introlinkedin" href="https://www.linkedin.com/in/harsiddak-bedi-b8738621a/">
                                    <img
                                        src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
                                        width="30px"
                                    />
                                </a>
                                <a id="introinsta" href="https://www.instagram.com/aitchessbee/">
                                  <img
                                    src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png'
                                    width='30px'
                                  />
                                </a>
                                <a id="introgithub" href="https://github.com/Aitchessbee">
                                  <img
                                    src='https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png'
                                    width='30px'
                                  />
                                </a>
                            </div>
                        </div>
        
                        <!-- vishist socials -->
                        <div class="creator">
                            <div>
                                <a id="introlinkedin" href="https://www.linkedin.com/in/vishist-bhagabati-738398227/">
                                    <img
                                        src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
                                        width="30px"
                                    />
                                </a>
                                <a id="introinsta" href="https://www.instagram.com/vishistbhagabati/">
                                  <img
                                    src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png'
                                    width='30px'
                                  />
                                </a>
                                <a id="introgithub" href="https://github.com/VishistB">
                                  <img
                                    src='https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png'
                                    width='30px'
                                  />
                                </a>
                            </div>
                        </div>
        
                        <!-- Aaruvir socials -->
                        <div class="creator">
                            <div>
                                <a id="introlinkedin" href="https://www.linkedin.com/in/aaryaveer/">
                                    <img
                                        src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
                                        width="30px"
                                    />
                                </a>
                                <a id="introinsta" href="https://www.instagram.com/aaryaveer_gill/">
                                  <img
                                    src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png'
                                    width='30px'
                                  />
                                </a>
                                <a id="introgithub" href="https://github.com/VishistB">
                                  <img
                                    src='https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png'
                                    width='30px'
                                  />
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- <div>
                      <p class="message">Our socials</p>   
                  </div> -->
                </div>
                <div class="right-box">
                    <div class="contact-form">
                        <div class="input-fields">
                            <h5 class="formtext">Your Name: </h5>
                            <input placeholder="Name">
                            <h5 class="formtext">Your Email: </h5>
                            <input type="email" placeholder="Email">
                            <h5 class="formtext">Type a message: </h5>
                            <textarea placeholder="your message here"></textarea>
                        </div>
                        <div class="btn-div">
                            <button class="msg-btn">Send Message</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </body>
</html>
