<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'styles/domain.css' %}" />
    <title>Web Development</title>
</head>
<body>
    {% include 'base/navbar.html' %}

    <div class="Pagecontent">
    <h1>{{domain.domain_name}}</h1>
        <p class="content">{{domain.domain_description}}</p>
        <div class="website-container">
            <div class="buttons-webd">
                {% for topic in topics %}
                    <a href="/roadmap/{{domain.domain_link}}/{{topic.topic_link}}" class="btn-webd">{{topic.topic_name}}</a>
                {% endfor %}
            </div>
        <div>
    </div>
</body>
</html>