<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}" />
    <title>Profile</title>
  </head>
  <body>
    {% include 'base/navbar.html' %}
    
    <div class="pagewrapper">

      <div id="main-heading"><h1>Hi, {{user.username}}</h1></div>
      <div class="email-heading"><h2>Username - {{user.username}}</h2></div>
      <div class="email-heading"><h2>Email - {{user.email}}</h2></div>

      <div id="buttons">
        <div class="btn-wrapper" id="change-pwd">
          <button class="btn">Edit Profile</button>
        </div>
         <div class="btn-wrapper">
          <a href="/logout" class="btn" id="logout-btn">logout</a href="/logout">
        </div>
      </div>
      
        <div class="content-wrapper">
            <div class="neon-box">
              <h1>Your Bookmarked Courses</h1>
              
              {% for course in favorite_courses %}
                <div class="course">
                  <div>{{ course.course_title }}</div>
                  <div>{{ course.course_author }}</div>
                  <div><a href={{ course.course_link }} target="_blank">{{ course.course_link }}</a></div>
                </div>
              {% endfor %}
            </div>
            <div class="neon-box">
              <h1>Your Suggested Courses</h1>
              
              {% for course in courses %}
                <div class="course">
                  <div>{{ course.course_title }}</div>
                  <div>{{ course.course_author }}</div>
                  <div><a href={{ course.course_link }} target="_blank">{{ course.course_link }}</a></div>
                </div>
              {% endfor %}
            </div>
         </div>
              
       </div>
    
</body> 
</html>