<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'styles/frontend.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <script src="{% static 'js/script.js' %}"></script>
    
    <title>Frontend</title>
</head>
<body>
    {%  include 'base/navbar.html' %}
    
    <div class="pagecontent">
        <h1>Frontend 👨‍💻</h1>
        <p class="page-description">Front-end web development is the development of the graphical user interface of a website, through the use of HTML, CSS, and JavaScript, so that users can view and interact with that website.</p>

        <div class="subtopics">
            <div class="subtopic" data-name="html">HTML</div>
            <div class="subtopic" data-name="css">CSS</div>
            <div class="subtopic" data-name="js">JAVASCRIPT</div>
            <div class="subtopic" data-name="js">Bootstrap</div>
            <div class="subtopic" data-name="js">Tailwind</div>
            <div class="subtopic" data-name="js">Jquery</div>
            <div class="subtopic" data-name="js">ReactJS</div>
            <div class="subtopic" data-name="js">VueJS</div>
            <div class="subtopic" data-name="js">AngularJS</div>
        </div>

        <div class="topic-section">
            <ul class="topics">
                <li class="topic" data-name="html">
                    <div class="topic-name">HTML</div>
                    <p class="topic-description">HTML is the standard markup language for Web pages. With HTML you can create your own Website.</p>
                    <ul class="links">
                        <li>
                            <div class="link">
                                <div class="url"><a href="https://www.youtube.com/watch?v=qz0aGYrrlhU">HTML Tutorial for Beginners: HTML Crash Course [2021]</a> - Programming with Mosh</div>
                                <div class="rating-flex">
                                    <div class="rate-number">1</div>
                                    <div class="rate-number">2</div>
                                    <div class="rate-number">3</div>
                                    <div class="rate-number">4</div>
                                    <div class="rate-number">5</div>
                                </div>
                            </div>
                            <iframe src="https://tube.rvere.com/embed?v=qz0aGYrrlhU" frameborder="0" class="frame"></iframe>
                        </li>

                        <li>
                            <div class="link">
                                <div class="url"><a href="https://www.youtube.com/watch?v=UB1O30fR-EE">HTML Crash Course For Absolute Beginners</a> - Traversy Media</div>
                            </div>
                            <iframe src="https://tube.rvere.com/embed?v=qz0aGYrrlhU" frameborder="0" class="frame"></iframe>
                        </li>
                        <li>
                            <div class="link">
                                <div class="url"><a href="https://www.youtube.com/watch?v=HcOc7P5BMi4">HTML Tutorial for Beginners | Complete HTML with Notes & Code</a> - Apna College
                                    </div>
                            </div>
                            <iframe src="https://tube.rvere.com/embed?v=qz0aGYrrlhU" frameborder="0" class="frame"></iframe>   
                        </li>
                        <li>
                            <div class="link">
                                <div class="url"><a href="https://www.youtube.com/watch?v=916GWv2Qs08">HTML Tutorial For Beginners In Hindi (With Notes) 🔥</a> - CodeWithHarry</div>
                            </div>
                            
                            <iframe src="https://tube.rvere.com/embed?v=qz0aGYrrlhU" frameborder="0" class="frame"></iframe>
                        </li>
                    </ul>
                </li>

                <li class="topic" data-name="css">
                    <div class="topic-name">CSS</div>
                    <p class="topic-description">CSS is the standard markup language for Web pages. With HTML you can create your own Website.</p>
                    <ul class="links">
                        <li>
                            <div class="link">
                                <div class="url"><a href="https://www.youtube.com/watch?v=qz0aGYrrlhU">HTML Tutorial for Beginners: HTML Crash Course [2021]</a> - Programming with Mosh</div>
                                <div class="rating-flex">
                                    <div class="rate-number">1</div>
                                    <div class="rate-number">2</div>
                                    <div class="rate-number">3</div>
                                    <div class="rate-number">4</div>
                                    <div class="rate-number">5</div>
                                </div>
                            </div>
                            <iframe src="https://tube.rvere.com/embed?v=qz0aGYrrlhU" frameborder="0" class="frame"></iframe>
                        </li>

                        <li>
                            <div class="link">
                                <div class="url"><a href="https://www.youtube.com/watch?v=UB1O30fR-EE">HTML Crash Course For Absolute Beginners</a> - Traversy Media</div>
                            </div>
                            <iframe src="https://tube.rvere.com/embed?v=qz0aGYrrlhU" frameborder="0" class="frame"></iframe>
                        </li>
                        <li>
                            <div class="link">
                                <div class="url"><a href="https://www.youtube.com/watch?v=HcOc7P5BMi4">HTML Tutorial for Beginners | Complete HTML with Notes & Code</a> - Apna College
                                    </div>
                            </div>
                            <iframe src="https://tube.rvere.com/embed?v=qz0aGYrrlhU" frameborder="0" class="frame"></iframe>   
                        </li>
                        <li>
                            <div class="link">
                                <div class="url"><a href="https://www.youtube.com/watch?v=916GWv2Qs08">HTML Tutorial For Beginners In Hindi (With Notes) 🔥</a> - CodeWithHarry</div>
                            </div>
                            
                            <iframe src="https://tube.rvere.com/embed?v=qz0aGYrrlhU" frameborder="0" class="frame"></iframe>
                        </li>
                    </ul>
                </li>

                <li class="topic" data-name="js">
                    <div class="topic-name">Javascript</div>
                    <p class="topic-description">Javascript is the standard markup language for Web pages. With HTML you can create your own Website.</p>
                    <ul class="links">
                        <li>
                            <div class="link">
                                <div class="url"><a href="https://www.youtube.com/watch?v=qz0aGYrrlhU">HTML Tutorial for Beginners: HTML Crash Course [2021]</a> - Programming with Mosh</div>
                                <div class="rating-flex">
                                    <div class="rate-number">1</div>
                                    <div class="rate-number">2</div>
                                    <div class="rate-number">3</div>
                                    <div class="rate-number">4</div>
                                    <div class="rate-number">5</div>
                                </div>
                            </div>
                            <iframe src="https://tube.rvere.com/embed?v=qz0aGYrrlhU" frameborder="0" class="frame"></iframe>
                        </li>

                        <li>
                            <div class="link">
                                <div class="url"><a href="https://www.youtube.com/watch?v=UB1O30fR-EE">HTML Crash Course For Absolute Beginners</a> - Traversy Media</div>
                            </div>
                            <iframe src="https://tube.rvere.com/embed?v=qz0aGYrrlhU" frameborder="0" class="frame"></iframe>
                        </li>
                        <li>
                            <div class="link">
                                <div class="url"><a href="https://www.youtube.com/watch?v=HcOc7P5BMi4">HTML Tutorial for Beginners | Complete HTML with Notes & Code</a> - Apna College
                                    </div>
                            </div>
                            <iframe src="https://tube.rvere.com/embed?v=qz0aGYrrlhU" frameborder="0" class="frame"></iframe>   
                        </li>
                        <li>
                            <div class="link">
                                <div class="url"><a href="https://www.youtube.com/watch?v=916GWv2Qs08">HTML Tutorial For Beginners In Hindi (With Notes) 🔥</a> - CodeWithHarry</div>
                            </div>
                            
                            <iframe src="https://tube.rvere.com/embed?v=qz0aGYrrlhU" frameborder="0" class="frame"></iframe>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <script src="{% static 'js/subtopics.js' %}"></script>
</body> 
</html>