<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/register.css' %}" />
    <!-- <script src="login.js"></script> -->
    <title>UVAH Login</title>
</head>
<body>
    <div id="page-wrapper">
        <form action="" method="POST" id="registration-box"r>
            {% csrf_token %}
            <img id="userpic" src="https://cdn-icons-png.flaticon.com/512/1946/1946429.png" alt="Email" width="80px">
            <!-- enter username -->
            {{ form.username }}
            <!-- email inputbox -->
            <div>
            {{ form.email }}
            </div>
            <!-- password input box -->
            {{ form.password1 }}
            {{ form.password2 }}
            <button id="reg-btn" type="submit">Register</button>
            <p id="bottom-text">Want to Log in? <a href="/login">Click here<a></p>
        </form>
    <div>
</body>
</html>