<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'styles/submit.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <script src="{% static 'js/script.js' %}"></script>
    
    <title>Submit</title>
</head>
<body>
    {%  include 'base/navbar.html' %}
    <div class="page-wrapper">

        <form action="" method="POST" id="submit-box">
            {% csrf_token %}

            <h1>SUBMIT COURSE</h1>
            <select name="domain" id="domain-drop" class="submit-parameter">
                {% for domain in domains %}
                    <option>{{domain.domain_name}}</option>
                {% endfor %}
            </select>
            <select name="topic" id="topic-drop" class="submit-parameter">

            </select>
            <select name="subtopic" id="subtopic-drop" class="submit-parameter">

            </select>
            <input class="submit-parameter" id="course-title" name="course-title" placeholder="Course Title"/>
            <input class="submit-parameter" id="course-author" name="course-author" placeholder="Course Author"/>
            <input type="url" class="submit-parameter" id="course-link" name="course-link" placeholder="Course Link"/>

            <button class="submit-btn">Submit Course</button>
        </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        let domainDrop = document.getElementById("domain-drop");
        let topicDrop = document.getElementById("topic-drop")
        let subtopicDrop = document.getElementById("subtopic-drop");

        getTopics();
        getSubtopics();

        domainDrop.addEventListener("change", getTopics);
        topicDrop.addEventListener("change", getSubtopics);

        function getTopics(e){
            axios.get('/get-topics', {
                params: {
                    domain: domainDrop.value,
                }
            })
            .then(res => {
                console.log(res.data);
                topicDrop.innerHTML = '';

                for (var i = 0; i < res.data.length; i++) {
                    var optn = res.data[i];
                    var el = document.createElement("option");
                    el.textContent = optn;
                    el.value = optn;
                    topicDrop.appendChild(el);
                }

                getSubtopics()
            })
        }

        function getSubtopics(e){
            axios.get('/get-subtopics', {
                params: {
                    domain: domainDrop.value,
                    topic: topicDrop.value
                }
            })
            .then(res => {
                console.log(res.data);
                subtopicDrop.innerHTML = '';

                for (var i = 0; i < res.data.length; i++) {
                    var optn = res.data[i];
                    var el = document.createElement("option");
                    el.textContent = optn;
                    el.value = optn;
                    subtopicDrop.appendChild(el);
            }})
        }

    </script>
</body> 
</html>