<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'styles/frontend.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <script src="{% static 'js/script.js' %}"></script>
    
    <title>Frontend</title>
</head>
<body>
    {%  include 'base/navbar.html' %}
    
    <div class="pagecontent">
        <h1>Frontend 👨‍💻</h1>
        <p class="page-description">Front-end web development is the development of the graphical user interface of a website, through the use of HTML, CSS, and JavaScript, so that users can view and interact with that website.</p>

        <div class="subtopics">
            {% for subtopic in subtopics %}
                <div class="subtopic" data-name={{subtopic|lower}}>{{subtopic}}</div>
            {% endfor %}
        </div>

        <div class="topic-section">
            <ul class="topics">
                {% for subtopic in subtopics %}
                    <li class="topic" data-name={{subtopic|lower}}>
                        <div class="topic-name">{{subtopic}}</div>
                        <p class="topic-description">HTML is the standard markup language for Web pages. With HTML you can create your own Website.</p>
                        <ul class="links">
                            {% for course in courses %}
                                {% if course.subtopic_id.subtopic == subtopic %}
                                    <li>
                                        <div class="link">
                                            <div class="url"><a href="https://{{course.course_link}}">{{course.course_title}}</a> - {{course.course_author}}</div>
                                            <div class="rating-flex">
                                                <div class="rate-number">1</div>
                                                <div class="rate-number">2</div>
                                                <div class="rate-number">3</div>
                                                <div class="rate-number">4</div>
                                                <div class="rate-number">5</div>
                                            </div>
                                        </div>
                                        <iframe src="https://tube.rvere.com/embed?v=qz0aGYrrlhU" frameborder="0" class="frame"></iframe>
                                    </li>
                                {% endif %}
                            {% endfor %}
 
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script src="{% static 'js/subtopics.js' %}"></script>
</body> 
</html>